^.*\.Rproj$
\.Rproj\.user/
data/*
!data/MVP Baseball 2005 - Attribute overrides - Sheet1.csv
!data/MVP Baseball 2005 - Map OOTP to MVP - statmap *
!data/MVProsters/
.Rhistory
images/*
#!images/ocr/tesseract_fails/
!images/demo/
.Rproj.user
autohotkey/make_player_p1.ahk
autohotkey/nerf_one_*.ahk
autohotkey/
